<div class="container">
  <div class="form-user">
    <div class="form-header">
      <h4 class="form-header-title">ユーザー情報</h4>
    </div>
      <%= form_for(@user) do |f| %>
        <div class="form-field">
          <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, class: "rounded-circle border", fallback: "no_image.jpg"%>
          <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
        </div>
        <div class="form-field">
          <%= f.text_field :name, autofocus: true, placeholder:"名前", size: "50" %>
        </div>
        <div class="form-field">
          <%= f.text_field :info, autofocus: true, placeholder:"自己紹介", size: "50" %>
        </div>
        <div class="form-field">
          <%= f.submit "変更を保存", class:"btn-primary btn-lg" %>
        </div>
      <% end %>
  </div>
</div>