<div class="container">
  <div class="row">
    <div class="col-auto">
      <div class="form-user">
        <div class="form-heder">
          <h4 class="form-header-title">ログイン</h4>
        </div>
        <div class="form-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-field">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"メールアドレス", size: "50" %>
          </div>
          <div class="form-field">
            <%= f.password_field :password, autocomplete: "current-password", placeholder:"パスワード", size: "50" %>
          </div>
          <% if devise_mapping.rememberable? %>
            <div class="form-field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
          <div class="sign-in">
            <%= f.submit "ログイン", class:"btn-primary btn-lg btn-block" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "devise/shared/links" %>
