<div class="container">
  <div class="user-post">
    <div class="post-title"><%= @post.title %></div>
    <div class="post-image">
      <%= attachment_image_tag @post, :image, :fill, 485, 300 %>
    </div>
    <div class="post-info d-flex flex-row bd-highlight">
      <div class="p-2 bd-highlight">
        <%= attachment_image_tag @post.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", class: "rounded-circle border" %>
      </div>
      <div class="p-2 bd-highlight post-text">
        <%= @post.text %>
      </div>
      <div class="p-2 bd-highlight">
        <% if @post.user == current_user %>
          <%= link_to "記事の削除", post_path(@post), class:"btn-primary btn-lg", method: :delete %>
        <% end %>
      </div>
    </div>
    <%= @post.comments.count %>コメント
    <% if @post.favorited_by?(current_user) %>
      <li>
        <%= link_to post_favorite_path(@post), method: :delete do %>
          <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
          <%= @post.favorites.count %> いいね
        <% end %>
      </li>
    <% else %>
      <li>
        <%= link_to post_favorite_path(@post), method: :post do %>
          <i class="far fa-heart" aria-hidden="true"></i>
          <%= @post.favorites.count %> いいね
        <% end %>
      </li>
    <% end %>

    <%= form_for [@post, @comment] do |f| %>
      <%= f.text_area :comment, rows:'5', placeholder: "コメントをここに" %>
      <%= f.submit "送信する" %>
    <% end %>
  </div>

  <ol>
    <% @post.comments.each do |comment| %>
      <%= comment.user.name %>
      <%= comment.comment %>
      <%= comment.created_at %>
    <% end %>
    <% if @comment.user == current_user %>
      <%= link_to "削除", post_comment_path(@comment.post, @comment), method: :delete %>
    <% end %>
  </ol>

</div>